.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: fancyFont;
  src: url("Assets/EuphoriaScript-Regular.ttf") format("opentype")
}

@font-face {
  font-family: textFont;
  src: url("Assets/AnticSlab-Regular.ttf") format("opentype")
}

#titleContainer {
  background-color: #EFEFE8;
  width: 100vw;
  height: 90vh;
  color: black;
  font-family: fancyFont;
  display:flex;
}

#title{
  font-size:9vw;
  margin-top: 25vh;
  margin-bottom:0px;
}

#titleContainer{

}

#titleTreble{
  width: 29vw;  
  margin-left: 13vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right:1vw;
}

#treble{
  margin-left: auto;
  width:25vw;
}

#titleOptions{
  width:50vw; 
  justify-content: left;
  align-items: left;
  text-align:left;
}

.playOptions{
  font-family: textFont;
  justify-content: left;
  border-color:transparent;
  background-color: transparent;
  font-size: 2.75vw;
  transition: transform .2s;
}

.playOptions:hover{
  transform: scale(1.3) translateX(3vw); 
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#logos{
  overflow: hidden;
  white-space: nowrap;
}

#logos-slide{
  display: inline-block;
  animation: 50s slide infinite linear;
}

#logos-slide img{
  height: 10vh;
  width: 40vw;
}


#carousel{
  background-color: #EFEFE8;
  margin:0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
}

#multi-title{
  background-color: #EFEFE8;
  width: 100vw;
  height: 100vh;
  color: black;
  font-family: fancyFont;
  display:flex;
  font-size: 10vh;
}

#output svg{
  background-color: #EFEFE8;
  display: block;
  padding-right: -10vw;
}

#multi{
  overflow: hidden;
  background-color: #EFEFE8;
  height: 100vh;
  width: 100vw;
}

#rectangle{
  background-color: #FFF;
  color: #FFF;
  border-radius: 10vh;
  height: 72vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 10vh;
  margin-right: 10vh;
}