@font-face {
    font-family: fancyFont;
    src: url("Assets/EuphoriaScript-Regular.ttf") format("opentype")
  }
  
  @font-face {
    font-family: textFont;
    src: url("Assets/AnticSlab-Regular.ttf") format("opentype")
  }

  #learnContainer{
    background-color: #EFEFE8;
    width: 200vw;
    height: 100vh;
    color: black;
    font-family: textFont;
    display:flex;
  }

  #uploadContainer{
    width: 100vw;
  }

  #uploadInnerContainer{
    
  }

  #uploadText{
    font-family:textFont;
  }

  #uploadGroup{
    padding:2vw 19vw 2vw 19vw;  
    border: 0.3vw dashed black;
    border-radius:6vw;
    justify-content: center;
    align-items: center;
  }

  #uploadImage{
    width: 8vw;
  }